html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Edu_AU_VIC_WA_NT_Hand";
  src: url("./assets/Fonts/Edu_AU_VIC_WA_NT_Hand/EduAUVICWANTHand-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ga_Maamli";
  src: url("./assets/Fonts/Ga_Maamli/GaMaamli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: "Edu_AU_VIC_WA_NT_Hand", "Ga_Maamli";
}
